.el-form {
    .long_label {
        .el-form-item__label {
            line-height: 20px;
        }
    }
    .el-form-item[type="frame"] {
        .el-form-item__content {
            padding: 20px;
            border-radius: 12px;
            border: solid 1px #ededed;
            background-color: #fff;
            .el-form-item__content {
                padding: 0;
                border-radius: 0;
                border: none;
                background-color: none;
            }
            .el-form-item {
                width: 100%;
                margin-bottom: 20px;
                &:last-child {
                    margin: 0;
                }
                .el-input, .el-select {
                    width: 100%;
                }
            }
        }
    }
    .el-form-item[disabled="true"] {
        opacity: 0.3;
        cursor: not-allowed;
        .el-input__inner {
            pointer-events: none;
        }
    }
}
.call-center-form-area {
    .custom-append-button.el-button {
        width: auto !important;
        padding: 0 10px !important;
        background-image: linear-gradient(to left, #909399, #bfbfbf);
        border: none !important;
        color: #fff !important;
    }
}
//media queries
@media screen and (max-width: 1536px) {
    .call-center-page .el-form { .el-form-item { .el-form-item__label { width: 100px; } .el-form-item__content { .el-form-item { .el-form-item__label{width: 95px;} } }}}
}
   
@media (min-width: 1537px) and (max-width: 1920px) {
    .call-center-page .el-form { .el-form-item { .el-form-item__label { width: 130px; } .el-form-item__content { .el-form-item { .el-form-item__label{width: 120px;} } }}}
}
@media (min-width: 1921px) and (max-width: 2560px) {
    .call-center-page .el-form { .el-form-item { .el-form-item__label { width: 160px; } .el-form-item__content { .el-form-item { .el-form-item__label{width: 140px;} } }}}
}